body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #e6f0ff;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}


.card {
  background: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}

.title {
  text-align: center;
  color: #1f4bd8;
  margin-bottom: 15px;
}

.title span {
  font-weight: 700;
}

.input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #b6c7e6;
  border-radius: 8px;
  font-size: 14px;
}

.input:focus {
  border-color: #1f4bd8;
  outline: none;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  background: #1f4bd8;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

.btn:hover {
  background: #173bb3;
}

.btn-secondary {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  background: white;
  border: 1px solid #1f4bd8;
  color: #1f4bd8;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-secondary:hover {
  background: #e8efff;
}

.divider {
  text-align: center;
  margin: 12px 0;
  color: #777;
}
.btn,
.btn-secondary {
  width: 60%;          /* button width (adjust if you want) */
  margin-left: auto;  
  margin-right: auto; 
  display: block;     
}

