* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.dashboard-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

button {
    background-color: #5a67d8;
    color: white;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #434190;
}
